.container{
max-width:600px;
margin:auto;
padding:20px;
}

img{
width:100%;
border-radius:10px;
}

button{
padding:12px;
border-radius:10px;
border:none;
background:#2e7df6;
color:white;
}

input,select{
width:100%;
padding:12px;
margin-bottom:10px;
}